<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br />
    <input type="text" id="chat-message-input" size="100" /><br />
    <input type="button" id="chat-message-submit" value="Send" />
    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent)

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        )

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            document.querySelector('#chat-log').value += (data.message + '\n')
        }

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly')
        }

        document.querySelector('#chat-message-input').focus()

        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click()
            }
        }

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input')
            const message = messageInputDom.value

            chatSocket.send(JSON.stringify({
                'message': message
            }))
            messageInputDom.value = ''
        }
    </script>
</body>
</html>